.footer-container {
  width: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-top: 3px solid;
  z-index: 1;
  margin-bottom: 0;
  bottom: 0;
}

.footer {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 85%);
  height: auto;
  padding: 0;
  margin-bottom: 0;
}

.footer-row {
  display: flex;
  flex-wrap: nowrap;
}

ul {
  list-style: none;
}

.footer-column {
  width: 25%;
  padding: 0 15px;
}
