body {
  margin: 0;
  font-family: roboto;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

.listProduct .item img {
  object-fit: cover;
  width: 85%;
  height: auto;
  align-items: center;
  cursor: pointer;
  padding-bottom: 10px;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
}

.listProduct .item {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  bottom: 0;
  transition: 0.3s ease;
}

.listProduct .item:hover {
  transform: scale(1.09);
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: small;
  cursor: pointer;
  width: auto;
  padding-bottom: 4px;
}

.listProduct .item h3 {
  font-weight: 500;
  font-size: small;
  cursor: pointer;
  padding-bottom: 4px;
}

.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
  padding-bottom: 4px;
}

.listProduct .item button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.index-banner-container {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-top: 20px;
  z-index: 1;
}
.index-banner {
  border: 1px solid black;
  z-index: 1;
}
